[submodule "micropython"]
	path = micropython
	url = https://github.com/micropython/micropython
[submodule "amy"]
	path = amy
	url = https://github.com/bwhitman/amy
[submodule "lv_binding_micropython"]
	path = lv_binding_micropython
	url = https://github.com/lvgl/lv_binding_micropython
