.DS_Store
__pycache__

ports/esp32s3/build
ports/esp32s3/sdkconfig.old
ports/macos/build-standard/
ports/macos/tulip
ports/macos/tulip.arm64
ports/macos/tulip.x86_64
ports/macos/dist

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
*.pyc

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
#*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

mpy-cross/build/genhdr/mpversion.h
