CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="16MB"
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_FLASHFREQ="80m"
CONFIG_ESPTOOLPY_OCT_FLASH=n
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="../esp32s3/boards/TULIP4_N16R8/tulip-partitions-16MB.csv"
#CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
