# The N16R8 WROOM-1 on the current MaTouch 7 does NOT support octal flash, but DOES support octal spiram and 120MHz if flash is set to STR/quad.
CONFIG_IDF_EXPERIMENTAL_FEATURES=y
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="16MB"
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_120M=y
CONFIG_ESPTOOLPY_FLASHFREQ_120M=y
CONFIG_ESPTOOLPY_FLASHFREQ="120m"
CONFIG_ESPTOOLPY_OCT_FLASH=n
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="../esp32s3/boards/TULIP4_N16R8/tulip-partitions-16MB.csv"

# These help the screen, see https://docs.espressif.com/projects/esp-idf/en/latest/esp32s3/api-reference/peripherals/lcd.html#bounce-buffer-with-single-psram-frame-buffer
CONFIG_SPIRAM_FETCH_INSTRUCTIONS=y
CONFIG_SPIRAM_RODATA=y

CONFIG_LCD_RGB_RESTART_IN_VSYNC=y
CONFIG_LCD_RGB_ISR_IRAM_SAFE=y

# You'd have this on if you were using native USB for a REPL 
#CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
