
/*.modal-backdrop.fade.show { z-index: inherit; }*/
#textinput {
    position: absolute;
    left: -10000px;
}

.headertext {
    color: #fff;
    background-color: #002b36; 
}

.grippierow {
    color: #000;
    background-color: #f0f0f0;
    height: 15px;
}


*:focus { outline: none; }

canvas {
  display: block;
  margin: 0;
  padding: 0;
  aspect-ratio: 1024 / 600;
  /*max-width: 1024px;*/
}
.canvas-solo {
  width: min(100%, 90vh * 1024 / 600);
}
.canvas-editor {
  width: min(100%, 50vh * 1024 / 600);
}

.alert-fixed {
    position:fixed; 
    top: 0px; 
    left: 0px; 
    width: 100%;
    z-index:9999; 
    border-radius:0px
}

.grippie {
  cursor: grab;
  font-size: 14px;
  line-height: 1.0;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -webkit-user-drag: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}


.CodeMirror * {
/*          ^
*/
  font-size: 12px;
  line-height: 14px;
}


.cm-s-lucario.CodeMirror, .cm-s-lucario .CodeMirror-gutters {
  background-color: #002b36 !important;
  color: #f8f8f2 !important;
  border: none;
}
.cm-s-lucario .CodeMirror-gutters { color: #002b36; }
.cm-s-lucario .CodeMirror-cursor { border-left: solid thin #E6C845; }
.cm-s-lucario .CodeMirror-linenumber { color: #a8a8a2; }
.cm-s-lucario .CodeMirror-selected { background: #243443; }
.cm-s-lucario .CodeMirror-line::selection, .cm-s-lucario .CodeMirror-line > span::selection, .cm-s-lucario .CodeMirror-line > span > span::selection { background: #243443; }
.cm-s-lucario .CodeMirror-line::-moz-selection, .cm-s-lucario .CodeMirror-line > span::-moz-selection, .cm-s-lucario .CodeMirror-line > span > span::-moz-selection { background: #243443; }
.cm-s-lucario span.cm-comment { color: #5c98cd; }
.cm-s-lucario span.cm-string, .cm-s-lucario span.cm-string-2 { color: #E6DB74; }
.cm-s-lucario span.cm-number { color: #ca94ff; }
.cm-s-lucario span.cm-variable { color: #f8f8f2; }
.cm-s-lucario span.cm-variable-2 { color: #f8f8f2; }
.cm-s-lucario span.cm-def { color: #72C05D; }
.cm-s-lucario span.cm-operator { color: #66D9EF; }
.cm-s-lucario span.cm-keyword { color: #ff6541; }
.cm-s-lucario span.cm-atom { color: #bd93f9; }
.cm-s-lucario span.cm-meta { color: #f8f8f2; }
.cm-s-lucario span.cm-tag { color: #ff6541; }
.cm-s-lucario span.cm-attribute { color: #66D9EF; }
.cm-s-lucario span.cm-qualifier { color: #72C05D; }
.cm-s-lucario span.cm-property { color: #f8f8f2; }
.cm-s-lucario span.cm-builtin { color: #72C05D; }
.cm-s-lucario span.cm-variable-3, .cm-s-lucario span.cm-type { color: #ffb86c; }

.cm-s-lucario .CodeMirror-activeline-background { background: #243443; }
.cm-s-lucario .CodeMirror-matchingbracket { text-decoration: underline; color: white !important; }

.esptool-frame-wrap {
  width: 100%;
  height: 80vh;
  min-height: 600px;
}

.esptool-frame {
  width: 100%;
  height: 100%;
  border: 0;
  background: #ffffff;
}
