source "/Users/bwhitman/outside/micropython/esp-idf/components/efuse/Kconfig"
source "/Users/bwhitman/outside/micropython/esp-idf/components/esp32s3/Kconfig"
source "/Users/bwhitman/outside/micropython/esp-idf/components/esp_common/Kconfig"
source "/Users/bwhitman/outside/micropython/esp-idf/components/esp_hw_support/Kconfig"
source "/Users/bwhitman/outside/micropython/esp-idf/components/esp_system/Kconfig"
source "/Users/bwhitman/outside/micropython/esp-idf/components/freertos/Kconfig"
source "/Users/bwhitman/outside/micropython/esp-idf/components/hal/Kconfig"
source "/Users/bwhitman/outside/micropython/esp-idf/components/log/Kconfig"
source "/Users/bwhitman/outside/micropython/esp-idf/components/newlib/Kconfig"
source "/Users/bwhitman/outside/micropython/esp-idf/components/spi_flash/Kconfig"