source "/Users/bwhitman/outside/micropython/esp-idf/components/bootloader/Kconfig.projbuild"
source "/Users/bwhitman/outside/micropython/esp-idf/components/esp_rom/Kconfig.projbuild"
source "/Users/bwhitman/outside/micropython/esp-idf/components/esptool_py/Kconfig.projbuild"
source "/Users/bwhitman/outside/micropython/esp-idf/components/partition_table/Kconfig.projbuild"